:root {
  --askpro: #5893df;
  --askpro-dark: #010101;
}

/* Custom Component */
.askpro-btn {
  background-color: white;
  color: var(--askpro);
  border: 1px solid var(--askpro);
}

.askpro-btn:hover {
  background-color: var(--askpro);
  color: white;
}

/* Navbar */
.brand-name span {
  color: var(--askpro);
}

/* Hero */
.hero {
  margin-top: 8rem;
  margin-bottom: 3rem;
  height: 50vh;
}

.hero .welcome-text h1 span,
.hero .welcome-text h5 span {
  color: var(--askpro);
}

.vector-website {
  object-fit: cover;
  object-position: center;
}

/* Promotion */
.promotion {
  background-color: var(--askpro-dark);
}

.promotion h1 span,
.promotion h4 span {
  color: var(--askpro);
}

.promotion-icon {
  color: var(--askpro);
  margin-right: 0.5rem;
}

/* Service */
.service h1 span {
  color: var(--askpro);
}

.service-icon {
  color: var(--askpro);
}

/* Service Detail */
.service-detail {
  margin-top: 8rem;
  margin-bottom: 3rem;
}

/* Footer */
.brand-name-footer span {
  color: var(--askpro);
}
